{% extends "base.html" %}

{% block extrahead %}
    <!--<base href="{{working_directory}}">-->
    <link rel="stylesheet" href="/static/css/detail.css">
    <!--<script>
    window.onload = function(){
        var iframe = document.createElement('iframe');
        iframe.id = 'iframe';
        iframe.style.display = 'none';
        document.body.appendChild(iframe);
        iframe.src = 'mytext.txt';
        setTimeout(function(){
            var text = document.getElementById('iframe').contentDocument.body.firstChild.innerHTML;
            alert(text);
        }, 1000);
    }
    </script>-->
{% endblock extrahead %}

{% block content %}
    <h3>{{job_name}}</h3>
    <div class = 'log'>
        <!--TODO: make the content of the file visible in iframe-->
        <p><iframe id='iframe' src="{{ filename }}" width="90%" frameborder="1" height="90%"></iframe></p>
    </div>
{% endblock content %}